.img-wrap {
  height: 87vh;
  img {
    height: 100%;
    width: 100%;
  }
  .text-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-align: left;
    width: 100%;
    padding-left: 25px;
    h2 {
      font-size: 85px;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
    }
  }
}
.content-wraper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  .title-span {
    color: #032b43;
    text-align: justify;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
  }
  .content-span {
    color: #032b43;
    text-align: justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 113.636% */
    text-transform: lowercase;
  }
}
.space-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  .item-wraperrr {
    display: flex;
    width: 45%;
    flex-direction: column;
    gap: 7px;
    border-top: 2px solid #032b43;
    padding: 5px 0px;
  }
  h2 {
    color: #032b43;
    text-align: justify;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
  }
  span {
    color: #032b43;
    text-align: justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 113.636% */
    text-transform: lowercase;
  }
}
.style-layout {
  margin-top: 5px;
  span{
    color: #032b43;
    text-align: justify;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
  }
  .fixlayout {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    .img-wrapss {
      display: flex;
      align-items: center;
      width: 100px;
      height: 10 0px;
    }
  }
  .cards-style {
    height: 20rem;
    height: 100%;
    .more-movie-item {
      height: 90%;
    }
  }
}
