
.cont-style{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
  align-items: center;
  height: 100vh;
  .cards-style{
    // height: 20rem;
    a{
      height: 80%;
    }
  }
}
