<div>
  <div class="carousel">
    <ul class="slides">
      @for (latestMovie of latestMovies; track $index) {
      <!-- [id]="latestMovie.id" -->
        <input type="radio" name="radio-buttons" [id]="currentIndex" [checked]="$index == currentIndex" />
        <li class="slide-container">
          <div class="slide-image">
            <img [src]="latestMovie.imagePath" />
          </div>
          <div class="carousel-controls">
            <!-- [for]="getPreviousIndex($index)"  -->
            <label class="prev-slide" (click)="getPreviousIndex($index)">
              <span>&lsaquo;</span>
            </label>
            <!-- [for]="getNextIndex($index)" -->
            <label  class="next-slide" (click)="getNextIndex($index)">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
      }
      <!-- <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 17.png" />
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 21.png" />
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-4" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-4" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 23.png" />
          <div class="text-overlay">
            <h2 data-aos="fade-up" data-aos-duration="3000">Qadr</h2>
            <p data-aos="fade-up" data-aos-duration="3000">
              TRAPPED IN A ROOM, IQBAL FINDS HERSELF IN A HARROWING PREDICAMENT
              AS HER DAUGHTER IS HELD UNDER THE WATCHFUL EYE OF AN ISIS SNIPER
              JUST BEYOND THEIR REACH. STRUGGLING WITH DOUBT,
            </p>
          </div>
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-5" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-5" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 25.png" />
          <div class="text-overlay">
            <h2 data-aos="fade-up" data-aos-duration="3000">THE WEEKEND THIEFS</h2>
            <p data-aos="fade-up" data-aos-duration="3000">
              WHEN GINA BECOMES THE TARGET OF A ROBBERY, SHE'S FORCED TO SPEND A
              WEEKEND WITH THE THIEF WHO BROKE INTO HER HOME, REALIZING THAT THE
              MAN MAY NOT BE WHO SHE THOUGHT HE WAS.
            </p>
          </div>
        </div>
        <div class="carousel-controls">
          <label for="img-4" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li> -->
    </ul>
  </div>
</div>

<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center mx-auto max-w-screen-lg">
    <h2 class="section-title"  data-aos="fade-up" data-aos-duration="1800">We are Purattu film production</h2>
    <span class="section-description" data-aos="fade-up" data-aos-duration="2000"
      >We are an independent film production company bridging the worlds of West
      and Middle East, with our home in Toronto and Baghdad.</span
    >
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Hanging </span>
    <span class="bar-content move-right">Gardens</span>
  </div>
  <div class="flex-col w-1/2 items-center ">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="flex-col w-1/2 items-center ">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Bloody Boys </span>
    <span class="bar-content move-right">Bloody Boys</span>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Qadr Qadr</span>
    <span class="bar-content move-right">Qadr Qadr</span>
  </div>
  <div class="flex-col w-1/2 items-center ">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen> </iframe>
    </div>  </div>
</div>
<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center">
    <h2 class="partners-title" data-aos="fade-up" data-aos-duration="1800">Our Partners</h2>
    <div class="slider" data-aos="fade-up" data-aos-duration="2000">
      <div class="slide-track">
        <div class="slide">
          <img
            src="../../../assets/images/40.jpeg"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/41.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/42.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/43.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/44.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/45.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/46.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/47.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/48.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/49.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/50.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/51.png"
            height="100"
            width="250"
            alt=""
          />
        </div>

      </div>
    </div>
  </div>
</div>
