<div>
  <div class="carousel">
    <ul class="slides">
      @for (latestMovie of latestMovies; track $index) {
      <!-- [id]="latestMovie.id" -->
        <input type="radio" name="radio-buttons" [id]="currentIndex" [checked]="$index == currentIndex" />
        <li class="slide-container">
          <div class="slide-image">
            <img [src]="latestMovie.imagePath" />
          </div>
          <div class="carousel-controls">
            <!-- [for]="getPreviousIndex($index)"  -->
            <label class="prev-slide" (click)="getPreviousIndex($index)">
              <span>&lsaquo;</span>
            </label>
            <!-- [for]="getNextIndex($index)" -->
            <label  class="next-slide" (click)="getNextIndex($index)">
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
      }
      <!-- <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 17.png" />

        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 21.png" />

        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-4" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-4" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 23.png" />

        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-5" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-5" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="../../../assets/images/Frame 25.png" />

        </div>
        <div class="carousel-controls">
          <label for="img-4" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li> -->
    </ul>
  </div>
</div>

<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center mx-auto max-w-screen-lg">
    <h2 class="section-title"  data-aos="fade-up" data-aos-duration="1800">We are Purattu film production</h2>
    <span class="section-description" data-aos="fade-up" data-aos-duration="2000"
      >We are an independent film production company bridging the worlds of West
      and Middle East, with our home in Toronto and Baghdad.</span
    >
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12 querry"
>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Hanging </span>
    <span class="bar-content move-right">Gardens</span>
  </div>
  <div class="flex-col w-1/2 items-center viddd">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12 querry"
>
  <div class="flex-col w-1/2 items-center viddd ">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Bloody Boys </span>
    <span class="bar-content move-right">Bloody Boys</span>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-row justify-center overflow-hidden bg-yellow py-6 sm:py-12 querry"
>
  <div class="flex-col w-1/2 items-center text-wrapper">
    <span class="bar-content move-left">Qadr Qadr</span>
    <span class="bar-content move-right">Qadr Qadr</span>
  </div>
  <div class="flex-col w-1/2 items-center viddd ">
    <div class="vid-wrapper">
      <iframe [src]="safeURL" width="100%" height="80%" frameborder="0" allowfullscreen> </iframe>
    </div>  </div>
</div>
<section class="text-gray-600 body-font bg-yellow">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss1.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Locations scouts and management </h1>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss2.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark  ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Budgeting <br/> and Scheduling</h1>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss3.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Production logistical services </h1>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss4.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Casting and talent matching</h1>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss5.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Film  <br/> related research</h1>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative h-full">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="../../../assets/images/ss6.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90 hover:bg-gray-dark ">
            <h1 class="title-font text-lg font-medium text-gray-light mb-3">Equipment  <br/> rental</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="relative flex min-h-screen flex-col justify-start overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center">
    <h2 class="partners-title">Our Partners</h2>
    <app-banner></app-banner>
  </div>
</div>
