.header-display {
  position: relative;
  width: 100%;
  z-index: 10;
  .container-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #032b43;
    padding: 12px 30px;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
    .logo-wrapper img {
      width: 200px;
      height: 50px;
    }
    .nav-wrapper {
      gap: 25px;
      .nav-text {
        font-family: Roboto;
        font-size: 20px;
        line-height: normal;
        color: #fff;
      }
      .active-nav {
        color: #fbab00 !important;
        font-weight: 500;
      }
    }
  }
}


.logout-styles:hover {
  cursor: pointer;
}
