<!-- <div class="text-gray-600 body-font header-display bg-yellow">
  <div class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper" [routerLink]="['/']">
      <img src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper">
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/movies']" [ngClass]="{'active-nav': currentRoute == '/movies'}">Movies</a>
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blogs']" [ngClass]="{'active-nav': currentRoute == '/blogs'}">Blogs</a>
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']" [ngClass]="{'active-nav': currentRoute == '/services'}">Services</a>
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']" [ngClass]="{'active-nav': currentRoute == '/about'}">About</a>
      @if (userIsAuthenticated) {
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/manageMovies']" [ngClass]="{'active-nav': currentRoute == '/manageMovies'}">Manage Movies</a>
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/manageBlogs']" [ngClass]="{'active-nav': currentRoute == '/manageBlogs'}">Manage Blogs</a>
        <a class="mr-5 hover:text-gray-900 nav-text logout-styles" (click)="onLogOut()">LogOut</a>
        }
      @if (!userIsAuthenticated) {
        <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/login']" [ngClass]="{'active-nav': currentRoute == '/manageMovies'}">Login</a>
        }
    </nav>
  </div>
</div> -->
<header class="text-gray-600 body-font bg-style bg-blue">
  <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center wrap-setting  ">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto nav-styles">
      <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/movies']" [ngClass]="{'active-nav': currentRoute == '/movies'}" >Movies  <span class="arabic-font" >أفلام</span></a>
      <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/services']" [ngClass]="{'active-nav': currentRoute == '/services'}">Services  <span class="arabic-font" >خدمات</span></a>
    </nav>
    <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0 logo-wrapper" [routerLink]="['/']">
      <img src="../../../assets/images/logooo.png" alt="logo" />
    </a>
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto display-setting nav-setting nav-styles">
      <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/blogs']" [ngClass]="{'active-nav': currentRoute == '/blogs'}">Blog  <span class="arabic-font" >مدونة</span></a>
      <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/about']" [ngClass]="{'active-nav': currentRoute == '/about'}" >About us  <span class="arabic-font" >معلومات عنا</span></a>
      <!-- @if (userIsAuthenticated) {
        <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/manageMovies']" [ngClass]="{'active-nav': currentRoute == '/manageMovies'}">Manage Movies</a>
        <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/manageBlogs']" [ngClass]="{'active-nav': currentRoute == '/manageBlogs'}">Manage Blogs</a>
        <a class="mr-5 hover:text-gray-900 nav-text logout-styles raleway-textt" (click)="onLogOut()">LogOut</a>
        }
      @if (!userIsAuthenticated) {
        <a class="mr-5 hover:text-gray-900 nav-text raleway-textt" [routerLink]="['/login']" [ngClass]="{'active-nav': currentRoute == '/manageMovies'}">Login</a>
        } -->
    </nav>
  </div>
</header>
