<section class="py-2 bg-w sm:py-16 lg:py-24 z-40 relative flex justify-center bg-yellow mt-6 ">
<div class="container mt-5" *ngIf="fetchedBlogIsfetched">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div
              >
              <img class="card__background--main" [src]="imageUrl" alt="">
              test
              <div class="card__background--layer"></div>
              <!-- [ngStyle]="{'background-image': 'url(' + currentBlog.imagePath + ')'}" -->
              <!-- style="background-image: url('https://firebasestorage.googleapis.com/v0/b/purattu.appspot.com/o/BlogsImages%2FScreenshot%202023-04-02%20024224.pngMon%20Feb%2019%202024%2016%3A36%3A10%20GMT%2B0100%20(GMT%2B01%3A00)?alt=media&token=e7c1c9f4-7130-48aa-99ba-59e2b85f8c5e');"
              [style.background-image]="'url(' + dynamicImageUrl + ')'" -->
            </div>
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span>
          </div>
          <div class="blog-card__info">
            <h5>{{currentBlog.title}}</h5>
            <a (click)="goToLink(currentBlog.link)">Link</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  </section>

