<section class="py-2 bg-w sm:py-16 lg:py-24 z-40 relative flex justify-center bg-yellow mt-6 ">
<div class="container mt-5" *ngIf="fetchedBlogIsfetched">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div>
              <img class="card__background--main" [src]="currentBlog.imagePath" alt="">
              <div class="card__background--layer"></div>
            </div>
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span>
          </div>
          <div class="blog-card__info">
            <h5>{{currentBlog.title}}</h5>
            <a (click)="goToLink(currentBlog.link)">Link</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  </section>

