<section class="py-2 bg-w sm:py-16 lg:py-24 z-40 relative flex justify-center bg-yellow mt-6 ">

<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span>
          </div>
          <div class="blog-card__info">
            <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  </section>
 
