<!-- <section class="hero">
  <div>
      <h1>Who is Purattu</h1>
      <p>  worlds - Toronto and Baghdad, with a sole focus to create
        thought-provoking independent films that illuminate society's
        complexities, dive deep into the very essence of humanity, and entertain
        the souls. Most of our projects are international co-productions among
        Canada, Europe and the Middle East with production locations and talent
        from around the globe.</p>
  </div>
  <img src="../../../assets/images/about1.png" alt="">
</section>
<section class="hero">
  <div>
      <h1>What we do</h1>
      <p> We are an agency specializing in film production. Our team is driven by a
        deep passion for the craft of filmmaking and committed to transforming
        captivating narratives into unforgettable cinematic experiences.
        Leveraging our industry knowledge and a talented pool of professionals, we
        are dedicated to crafting extraordinary movies that captivate, uplift, and
        deeply connect with global viewers.</p>
  </div>
  <img src="../../../assets/images/about3.png" alt="">
</section> -->


<section class="text-gray-600 body-font bg-yellow">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 about-title">Who is Purattu
     
      </h1>
      <p class="mb-8 leading-relaxed about-content">  Purattu Film Production was established in the center of two different
        worlds - Toronto and Baghdad, with a sole focus to create
        thought-provoking independent films that illuminate society's
        complexities, dive deep into the very essence of humanity, and entertain
        the souls. Most of our projects are international co-productions among
        Canada, Europe and the Middle East with production locations and talent
        from around the globe.</p>
   
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="../../../assets/images/about1.png ">
    </div>
  </div>
</section>
<section class="text-gray-600 body-font bg-yellow">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="../../../assets/images/about3.png">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 about-title">What we do</h1>
      <p class="mb-8 leading-relaxed about-content">We are an agency specializing in film production. Our team is driven by a
        deep passion for the craft of filmmaking and committed to transforming
        captivating narratives into unforgettable cinematic experiences.
        Leveraging our industry knowledge and a talented pool of professionals, we
        are dedicated to crafting extraordinary movies that captivate, uplift, and
        deeply connect with global viewers.</p>
  
   
    </div>
  </div>
</section>


<div
  class="flex items-center justify-center min-h-screen bg-white padding-setting bg-yellow"
>
  <div class="flex flex-col">
    <!-- Notes -->

    <div class="flex flex-col mt-8">
      <!-- Meet the Team -->
      <div class="container max-w-7xl px-4">
        <!-- Section Header -->

        <!-- Team Members -->
        <div class="flex flex-wrap" >
          <!-- Member #1 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto ">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/tt1.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <!-- Title -->
                <div class="text-gray-700 font-light mb-2 textt">Member/Producer</div>
              </div>
            </div>
          </div>

          <!-- Member #2 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto ">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/tt2.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">Member/Actor</div>
              </div>
            </div>
          </div>

          <!-- Member #3 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto ">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/tt3.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">Member/Director</div>
              </div>
            </div>
          </div>

          <!-- Member #4 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto ">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 "
                  src="../../../assets/images/tt4.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">
                  Member/Photographer
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center" >
    <h2 class="partners-title">Supported By</h2>
   <app-banner></app-banner>
  </div>
</div>
