<section class="hero flex-row" >
  <div class="flex-col w-1/2 left-container" data-aos="fade-up" data-aos-duration="1800" >
    <h1 class="about-title">Who is Purattu</h1>
    <p class="about-content">
      Purattu Film Production was established in the center of two different
      worlds - Toronto and Baghdad, with a sole focus to create
      thought-provoking independent films that illuminate society's
      complexities, dive deep into the very essence of humanity, and entertain
      the souls. Most of our projects are international co-productions among
      Canada, Europe and the Middle East with production locations and talent
      from around the globe.
    </p>
  </div>
  <div class="flex-col w-1/2 right-container img-wrap" data-aos="fade-up" data-aos-duration="1800">
    <img
      class="imgabout1"
      src="../../../assets/images/about1.png"
      alt="about1"
    />
  </div>
</section>

<section class="hero flex-row section-style about2wrapper">
  <div class="flex-col w-2/3 left-container" data-aos="fade-up" data-aos-duration="1800">
    <h1 class="about-title">What we do</h1>
    <p class="about-content">
      We are an agency specializing in film production. Our team is driven by a
      deep passion for the craft of filmmaking and committed to transforming
      captivating narratives into unforgettable cinematic experiences.
      Leveraging our industry knowledge and a talented pool of professionals, we
      are dedicated to crafting extraordinary movies that captivate, uplift, and
      deeply connect with global viewers.
    </p>
  </div>
  <div class="flex-col w-1/3 right-container" data-aos="fade-up" data-aos-duration="1800">
    <img
      class="imgabout1"
      src="../../../assets/images/about3.png"
      alt="about3"
    />
  </div>
</section>

<div
  class="flex items-center justify-center min-h-screen bg-white padding-setting bg-yellow"
>
  <div class="flex flex-col">
    <!-- Notes -->

    <div class="flex flex-col mt-8">
      <!-- Meet the Team -->
      <div class="container max-w-7xl px-4">
        <!-- Section Header -->

        <!-- Team Members -->
        <div class="flex flex-wrap" data-aos="fade-up" data-aos-duration="1800">
          <!-- Member #1 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/60.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <!-- Title -->
                <div class="text-gray-700 font-light mb-2 textt">Member/Producer</div>
              </div>
            </div>
          </div>

          <!-- Member #2 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/61.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">Member/Actor</div>
              </div>
            </div>
          </div>

          <!-- Member #3 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/62.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">Member/Director</div>
              </div>
            </div>
          </div>

          <!-- Member #4 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/63.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2 textt">
                  Member/Photographer
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center" data-aos="fade-up" data-aos-duration="1800">
    <h2 class="partners-title">Supported By</h2>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="../../../assets/images/40.jpeg"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/41.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/42.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/43.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/44.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/45.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/46.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/47.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/48.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/49.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/50.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="../../../assets/images/51.png"
            height="100"
            width="250"
            alt=""
          />
        </div>

      </div>
    </div>
  </div>
</div>
