<section class="hero flex-row">
  <div class="flex-col w-2/3 left-container">
    <h1 class="about-title">Who is Purattu</h1>
    <p class="about-content">
      Purattu Film Production was established in the center of two different
      worlds - Toronto and Baghdad, with a sole focus to create
      thought-provoking independent films that illuminate society's
      complexities, dive deep into the very essence of humanity, and entertain
      the souls. Most of our projects are international co-productions among
      Canada, Europe and the Middle East with production locations and talent
      from around the globe.
    </p>
  </div>
  <div class="flex-col w-1/3 right-container">
    <img
      class="imgabout1"
      src="../../../assets/images/about1.png"
      alt="about1"
    />
  </div>
</section>

<section class="hero flex-row section-style about2wrapper"></section>

<div
  class="flex items-center justify-center min-h-screen bg-white padding-setting bg-yellow"
>
  <div class="flex flex-col">
    <!-- Notes -->

    <div class="flex flex-col mt-8">
      <!-- Meet the Team -->
      <div class="container max-w-7xl px-4">
        <!-- Section Header -->

        <!-- Team Members -->
        <div class="flex flex-wrap">
          <!-- Member #1 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/t1.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <!-- Title -->
                <div class="text-gray-700 font-light mb-2">Member/Producer</div>
              </div>
            </div>
          </div>

          <!-- Member #2 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/t2.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2">Member/Actor</div>
              </div>
            </div>
          </div>

          <!-- Member #3 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/t3.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2">Member/Director</div>
              </div>
            </div>
          </div>

          <!-- Member #4 -->
          <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="../../../assets/images/t4.png"
                />
              </a>

              <!-- Details -->
              <div class="text-start mt-6">
                <div class="text-gray-700 font-light mb-2">
                  Member/Photographer
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center">
    <h2 class="partners-title">Supported By</h2>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
