img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; /* Center the images */
  }

  .slide {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure that larger images don't overflow the container */
  }

  .slide-track {
    display: flex;
    gap: 1em;
    overflow: hidden;
    width: fit-content;
    animation: scroll 40s linear infinite;
  }

  .slider {
    background-color: transparent;
    padding: 5em 2em;
    overflow: hidden;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Adjust the value based on the number of slides */
  }