.cont-style{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  .cards-style{
    height: 20rem;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .button-wrapper{
    display: inline-flex;
    padding: 6px 4px;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    background: #032B43;
    width: 705px;
    margin-top: 28px;
    .btn-movie{
      border-radius: 10px;
      display: flex;
      padding: 6px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #FBAB00;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      width: 230px;
      height: 37px;
      font-weight: 500;
    }
    .selected-btn-movie{
      background-color: #FBAB00 ;
      color: #032B43;
    }
  }
}

