<section
  class="py-10 bg-w sm:py-16 lg:py-24 z-40 relative bg-yellow cont-style"
>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-4 cards-style">
      @if(fetchedMoviesIsfetched){ @for (movie of fetchedMovies; track movie.id)
        {
          <a [routerLink]="['/detail', movie.id]" class="shadow-2xl relative">
            <div
              class="h-full relative shadow-2xl shadow-green-900 overflow-hidden group"
            >
              <img
                [src]="movie.imagePath"
                class="w-full z-0 h-full object-fill example"
              />
            </div>
          </a>
        } @empty { Empty list of movies } } @else { Loading movies }
    </div>
  </div>
  <div class="button-wrapper">
    <button (click)="clicked('Released')" class="btn-movie">Released</button>
    <button (click)="clicked('Coming soon')" class="btn-movie">
      Coming soon
    </button>
    <button (click)="clicked('In Development')" class="btn-movie">
      In Development
    </button>
  </div>
</section>
<section class="py-10 bg-w sm:py-16 lg:py-24 z-40 relative bg-yellow"></section>
