<!-- <section class="hero flex-row ">
  <div class="flex-col w-1/2 left-container service-layout-styles" >
    <div>
      <div>
        <h1 class="about-title">Our Services</h1>
        <p class="service-content">
          With offices in Toronto and Baghdad, we offer a comprehensive range of
          services at every stage of film creation in both Iraq and Canada. Whether
          you're envisioning a sprawling feature film or a snappy short, we are
          adept at guiding your cinematic journey through the enchanting landscapes
          of Canada and the echoes of Sumer and Babylon in Iraq. At Purattu, we
          extend a warm welcome to individual artists as well as established film
          production companies and studios. Our approach is personalised, adapting
          to the unique requirements of each project and the needs of content
          producers. From the inception of creative ideas in writing rooms to full
          production services, picture editing, and DCP. Majority of our projects
          are treaty and non-treaty international co-productions. We aid content
          producers in navigating the intricacies of Canadian tax incentives, as
          well as applications to the funding programs of the Canadian Heritage and
          a variety of funds in the MENA region.
        </p>
      </div>
      <div>
        <h1 class="about-title">Why Choose Purattu</h1>
        <p class="service-content">
          Like the innovators of old who crafted the wheel and the written word, we
          approach filmmaking with a contagious inventiveness. We hold deep respect
          for every creative endeavour, transforming the filmmaking process into a
          joyous leap into the realms of storytelling, and treat every project team
          as a family.
        </p>
      </div>
      <div>
        <h1 class="about-title">Our Locations</h1>
        <p class="service-content">
          These places are where we conduct the majority of our project shootings.
        </p>
        <div class="button-wrapper">
          <button (click)="swithCountry()" class="btn-service" [ngClass]="{'selected-btn-service': country == 'canada'}">Canada</button>
          <button (click)="swithCountry()" class="btn-service" [ngClass]="{'selected-btn-service': country == 'iraq'}">Iraq</button>
        </div>
      </div>
   
        <div class="container px-5 py-2 mx-auto">
          <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-blue">2.7K</h2>
              <p class="leading-relaxed text-blue">Films</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue">1.8K</h2>
              <p class="leading-relaxed text-blue">Locations</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue">35</h2>
              <p class="leading-relaxed text-blue">Downloads</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue">4</h2>
              <p class="leading-relaxed text-blue">Products</p>
            </div>
          </div>
        </div>
   
    </div>

  </div>
  <div class="flex-col w-1/2 right-container">
    <div class="container">
      <ul class="slides">
        <ng-container *ngIf="country === 'canada'">
          <li *ngFor="let slide of slides; let i = index" [class.active]="currentIndex === i">
            <img [src]="slide" alt="country" />
          </li>
        </ng-container>
        <ng-container *ngIf="country === 'iraq'">
          <li *ngFor="let slide of slidesss; let i = index" [class.active]="currentIndex === i">
            <img [src]="slide" alt="country" />
          </li>
        </ng-container>


      </ul>

      <ul class="thumbnails">
        <ng-container *ngIf="country === 'canada'">
          <li *ngFor="let slide of slides; let i = index">
            <a href="javascript:void(0);" (click)="showSlide(i)">
              <img [src]="slide" />
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="country === 'iraq'">
          <li *ngFor="let slide of slidesss; let i = index">
            <a href="javascript:void(0);" (click)="showSlide(i)">
              <img [src]="slide" />
            </a>
          </li>
        </ng-container>

      </ul>
    </div>

  </div>
</section> -->
<!-- <section class="hero">
  <div>
      <h1>Who is Purattu</h1>
      <p>  worlds - Toronto and Baghdad, with a sole focus to create
        thought-provoking independent films that illuminate society's
        complexities, dive deep into the very essence of humanity, and entertain
        the souls. Most of our projects are international co-productions among
        Canada, Europe and the Middle East with production locations and talent
        from around the globe.</p>
  </div>
  <img src="../../../assets/images/about1.png" alt="">
</section>
<section class="hero">
  <div>
      <h1>What we do</h1>
      <p> We are an agency specializing in film production. Our team is driven by a
        deep passion for the craft of filmmaking and committed to transforming
        captivating narratives into unforgettable cinematic experiences.
        Leveraging our industry knowledge and a talented pool of professionals, we
        are dedicated to crafting extraordinary movies that captivate, uplift, and
        deeply connect with global viewers.</p>
  </div>
  <img src="../../../assets/images/about3.png" alt="">
</section> -->

<section class="text-gray-600 body-font bg-yellow">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 about-title"
      >
        Our Services
      </h1>
      <p class="mb-8 leading-relaxed about-content">
        Purattu Film Production was established in the center of two different
        With offices in Toronto and Baghdad, we offer a comprehensive range of
        services at every stage of film creation in both Iraq and Canada.
        Whether you're envisioning a sprawling feature film or a snappy short,
        we are adept at guiding your cinematic journey through the enchanting
        landscapes of Canada and the echoes of Sumer and Babylon in Iraq. At
        Purattu, we extend a warm welcome to individual artists as well as
        established film production companies and studios. Our approach is
        personalised, adapting to the unique requirements of each project and
        the needs of content producers. From the inception of creative ideas in
        writing rooms to full production services, picture editing, and DCP.
        Majority of our projects are treaty and non-treaty international
        co-productions. We aid content producers in navigating the intricacies
        of Canadian tax incentives, as well as applications to the funding
        programs of the Canadian Heritage and a variety of funds in the MENA
        region.
      </p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../../../assets/images/sss1.png "
      />
    </div>
  </div>
</section>
<section class="text-gray-600 body-font bg-yellow">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../../../assets/images/sss3.png"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 about-title"
      >
        Why Choose Purattu
      </h1>
      <p class="mb-8 leading-relaxed about-content">
        Like the innovators of old who crafted the wheel and the written word,
        we approach filmmaking with a contagious inventiveness. We hold deep
        respect for every creative endeavour, transforming the filmmaking
        process into a joyous leap into the realms of storytelling, and treat
        every project team as a family.
      </p>
    </div>
  </div>
</section>

<div class="w-full bg-yellow">
  <div class="container px-5 py-2 mx-auto bg-yellow">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-blue">
          2.7K
        </h2>
        <p class="leading-relaxed text-blue">Films</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2
          class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue"
        >
          1.8K
        </h2>
        <p class="leading-relaxed text-blue">Locations</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2
          class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue"
        >
          35
        </h2>
        <p class="leading-relaxed text-blue">Downloads</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2
          class="title-font font-medium sm:text-4xl text-3xl text-gray-900 text-blue"
        >
          4
        </h2>
        <p class="leading-relaxed text-blue">Products</p>
      </div>
    </div>
  </div>
</div>


<div
  class="relative flex min-h-screen flex-col justify-start overflow-hidden bg-yellow py-6 sm:py-12"
>
  <div class="w-full items-center">
    <h2 class="partners-title justify-start flex ">Locations</h2>
    <div class="slider-container">
      <div class="slider">
        <img
          src="https://cdn.pixabay.com/photo/2010/12/13/10/09/abstract-2384_960_720.jpg"
          alt="Image 1"
        />
        <img
          src="https://cdn.pixabay.com/photo/2018/05/07/10/48/husky-3380548_960_720.jpg"
          alt="Image 2"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dog-190056_960_720.jpg"
          alt="Image 3"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dog-190056_960_720.jpg"
          alt="Image 3"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dog-190056_960_720.jpg"
          alt="Image 3"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dog-190056_960_720.jpg"
          alt="Image 3"
        />
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/dog-190056_960_720.jpg"
          alt="Image 3"
        />

        <!-- Add more images here -->
      </div>
    </div>
    <!-- <div class="button-wrapper">
      <button class="btn-movie">Canada</button>
      <button class="btn-movie">Iraq</button>
    </div> -->
  </div>
</div>
