<!-- <div class="text-gray-600 body-font header-display bg-yellow ff">
  <div
    class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center container-wrapper bg-style"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 logo-wrapper"
    >
      <img src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center nav-wrapper"
    >
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/projects']"
        >FILMS</a
      >
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/blog']"
        >BLOG</a
      >
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/services']"
        >SERVICES</a
      >
      <a class="mr-5 hover:text-gray-900 nav-text" [routerLink]="['/about']"
        >ABOUT</a
      >
    </nav>
  </div>
</div> -->
<section class="hero flex-row">
  <div class="flex-col w-1/2 left-container">
    <h1 class="about-title">Our Services</h1>
    <p class="about-content">
      With offices in Toronto and Baghdad, we offer a comprehensive range of
      services at every stage of film creation in both Iraq and Canada. Whether
      you're envisioning a sprawling feature film or a snappy short, we are
      adept at guiding your cinematic journey through the enchanting landscapes
      of Canada and the echoes of Sumer and Babylon in Iraq. At Purattu, we
      extend a warm welcome to individual artists as well as established film
      production companies and studios. Our approach is personalised, adapting
      to the unique requirements of each project and the needs of content
      producers. From the inception of creative ideas in writing rooms to full
      production services, picture editing, and DCP. Majority of our projects
      are treaty and non-treaty international co-productions. We aid content
      producers in navigating the intricacies of Canadian tax incentives, as
      well as applications to the funding programs of the Canadian Heritage and
      a variety of funds in the MENA region.
    </p>
    <h1 class="about-title">Why Choose Purattu</h1>
    <p class="about-content">
      Like the innovators of old who crafted the wheel and the written word, we
      approach filmmaking with a contagious inventiveness. We hold deep respect
      for every creative endeavour, transforming the filmmaking process into a
      joyous leap into the realms of storytelling, and treat every project team
      as a family.
    </p>
    <h1 class="about-title">Our Locations</h1>
    <p class="about-content">
      These places are where we conduct the majority of our project shootings.
    </p>
  </div>
  <div class="flex-col w-1/2 right-container">
    <div class="carousel-container">
      <div #carousel class="carousel">
        <div class="carousel-item" style="background-color: #f44336">
          Item 1
        </div>
        <div class="carousel-item" style="background-color: #2196f3">
          Item 2
        </div>
        <div class="carousel-item" style="background-color: #4caf50">
          Item 3
        </div>
        <div class="carousel-item" style="background-color: #ff9800">
          Item 4
        </div>
        <div class="carousel-item" style="background-color: #9c27b0">
          Item 5
        </div>
      </div>
    </div>
  </div>
</section>
